.header{
    background-color: blue;
    padding:50px 70px;
    display: flex;
    flex-direction: column;
    /* background-image: url("/Cloud-background.png"); */

    background-repeat: repeat;
  
}
.searchBar{
    display:  flex;
    column-gap:10%;
}
.searchBar input{
 background-color: #666;
padding:  15px 10px;
border: none;
}

.searchBar ::-webkit-input-placeholder{
    color: #fff;
    padding-left: 0.6rem;
}