.container {
 margin-top: 30px;
  display: flex;
 
  min-height: 100vh;
  color: #fff;
  
}
.wrapper{
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-template-rows: auto;
margin-left: 50px;
 
}
.dailyWeather{
 display: flex;
 column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}
.wrapper .right{
  display: flex;
  flex-direction: column ;
  background-color: #100E1D;
      padding:50px 70px;
}
.todayWeather > section{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(2,1fr) ;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  text-align: center;
}

